<!DOCTYPE html>
<html lang="es">
<head>

     <title>{{title}}</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
     <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
     <link rel="stylesheet" href="stylesheets/aos.css">
     <link rel="stylesheet" href="stylesheets/login.css">
     <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
     <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="stylesheets/templatemo-digital-trend.css">

</head>
<body>
    {{{body}}}
    {{> footer}}
     <!-- SCRIPTS -->
     <script src="javascripts/jquery.min.js"></script>
     <script src="javascripts/bootstrap.min.js"></script>
     <script src="javascripts/aos.js"></script>
     <script src="javascripts/owl.carousel.min.js"></script>
     <script src="javascripts/smoothscroll.js"></script>
     <script src="javascripts/custom.js"></script>

</body>
</html>
