{{> navbar}}

<section class="hero hero-bg d-flex justify-content-center align-items-center">
	
	<div class="container">
{{#if mensaje}}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		{{mensaje}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{{/if}}
		<div class="row">

			<div class="container">

				<div class="d-flex justify-content-center h-100">

					<div class="card">
						<div class="card-header">
							<h3 class="text-white text-center card-title">Confirmar Registro</h3>
						</div>
						<div class="card-header">

							{{#if mensaje}}

							<h3 style="color:red">{{mensaje}}</h3>
							{{/if}}
						</div>

						<div class="card-body">
							<form action="/" method="post">
								<label for="token" style="color: white;">Código de activación</label>
								<label for="token" style="color: white;">Código de activación</label>
								<div class="input-group form-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
									</div>
									<input type="text" class="form-control" name="token" id="token"
										placeholder="Ingresa código de activación" value="">

								</div>
								<div class="form-group">
									<button type="submit" class="btn float-right btn-success ">Aceptar</button>
								</div>

                               <div class="d-flex justify-content-center">
								<a href="/">Ayuda no obtuve código de activación</a>
							</div>
							</form>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>